<div *ngIf="partidoId !== null">
  <p>Partido ID: {{ partidoId }}</p>
</div>

<div *ngIf="planteles && plantelesKeys.length > 0" class="asistencia-container">
  <label for="teamSelect">Selecciona equipo:</label>
  <select id="teamSelect" [(ngModel)]="selectedTeam" class="styled-select">
    <option *ngFor="let team of plantelesKeys" [value]="team">
      {{ team }}
    </option>
  </select>
</div>

<div *ngIf="selectedTeam" class="asistencia-list">
  <h3>{{ selectedTeam }}</h3>

  <ul>
    <li
      *ngFor="let jugador of planteles[selectedTeam] || []; trackBy: trackByJugador"
      [class.seleccionado]="jugador.asistencia"
      class="jugador-item"
    >
      <label>
        <input
          type="checkbox"
          [(ngModel)]="jugador.asistencia"
        />
        {{ jugador.name }} #- {{jugador.dorsal}}
      </label>
    </li>
  </ul>

  <!-- 👇 Conteo -->
 <p class="contador" *ngIf="selectedTeam">
  Seleccionados: {{ getSeleccionados() }} / {{ getTotal() }}
</p>

  <button class="btn-enviar" (click)="enviarAsistencia()">Enviar asistencia</button>
</div>

<p *ngIf="mensaje" class="mensaje-feedback">{{ mensaje }}</p>

<div *ngIf="selectedTeam" class="nuevo-jugador">
  <h4>Agregar nuevo jugador a {{ selectedTeam }}</h4>
  
  <!-- Nombre -->
  <input
    type="text"
    [(ngModel)]="nuevoJugadorNombre"
    placeholder="Nombre del jugador"
    class="input-nuevo-jugador"
  />

  <!-- Dorsal -->
  <input
    type="number"
    [(ngModel)]="nuevoJugadorDorsal"
    placeholder="Dorsal del jugador"
    class="input-nuevo-jugador"
  />

  <button class="btn-agregar" (click)="agregarNuevoJugador()">Agregar y enviar</button>
</div>





